# Python
__pycache__/
*.py[cod]
*$py.class
.env

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/

# Data files
data/user_analysis/*.png
data/user_analysis/*.md

# Credentials
credentials.json
token.json

# Generated reports
analysis_report_*.html 